body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 34, 30);
  color: #29dd65;
  display: flex;
  max-width: 500px;
  max-height: 600px;
}

img.logo {
  padding: 5px;
  height: 90px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(20, 34, 30);
  color: #29dd65;
  max-height: 600px;
}

.list-container {
  flex-basis: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.nav-container > img {
  padding-top: 10px;
  height: 70px;
}

.nav-container > button {
  height: 50px;
  border: none;
  color: #29dd65;
  background-color: rgb(20, 34, 30);
  font-size: 15px;
}

.nav-container > button:hover {
  background-color: #29dd65;
  color: rgb(20, 34, 30);
}

.item{
  overflow: auto;
  flex-basis: 100%;
}

.title {
  font-size: 22px;
}

a {
  background-color: #e6ffe6;
  color: rgb(20, 34, 30);
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 10px;
}

a:hover {
  color: rgb(20, 34, 30);
  background-color: #29dd65;
}

.NYT_API {
  height: 40px;
  width: 200px;
}


