body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #29dd65;
  display: flex;
  width: 500px;
  max-height: 600px;
}

img.logo {
  padding: 5px;
  height: 90px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 99%;
  background-color: inherit;
  color: inherit;
  max-height: 600px;
}

.list-container {
  flex-basis: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.nav-container > img {
  padding-top: 20px;
  height: 70px;
}

.nav-button {
  color: inherit;
  background-color: inherit;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid  black;
}

.nav-button:hover {
  border: 2px solid #29dd65;
  cursor: pointer;
  color: black;
  background-color: #29dd65;
  font-weight: bold;
}

.list{
  overflow: auto;
  flex-basis: 100%;
}

.list::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 22px;
}

.list > a {
  background-color: #29dd65;
  color: black;
  font-size: 18px;
  width: 85%;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}

a:hover {
  transform: scale(1.05, 1.05);
}

a > img {
  height: 75px;
}

.NYT_API {
  height: 40px;
  width: 200px;
}


