body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222029;
  color: #a6a1ca;
  display: flex;
  max-width: 500px;
  max-height: 600px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #222029;
  color: #a6a1ca;
  max-height: 600px;
}

.list-container {
  flex-basis: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.list-container > a {
  box-sizing: border-box;
}

.title {
  font-size: 22px;
  width: 100%;
}

a {
  background-color: #222029;
  color: #a6a1ca;
  font-size: 18px;
  width: 95%;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #222029;
  background-color: #a6a1ca;
}

.NYT_API {
  height: 40px;
  width: 200px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.nav-container > button {
  height: 50px;
  border: none;
  color: #a6a1ca;
  background-color: #222029;
}

.nav-container > button:hover {
  height: 50px;
  border: none;
  background-color: #a6a1ca;
  color: #222029;
}
